@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body,html {
    width: 100%;
    height: 100%;
}

p,a {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

a,a:link,a:hover,a:visited,a:active {
    text-decoration: none;
}

nav {
    width: 100%;
    height: 80px;
    background: #333333;
    position: fixed;
    box-shadow: 0 0.2rem 1rem #37c8ab;
    z-index: 100;
}

nav:hover {
    box-shadow: 0 0.2rem 1rem #ff6600;
}

nav .logo  {
    width: 125px;
    height: 66.5px;
    margin: 0 100px;
    margin-top: 3px;
}

nav ul {
    float: right;
    list-style-type: none;
    margin-right: 50px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
}

nav ul li a {
    text-decoration: none;
    color: #37c8ab;
    font-size: 20px;
    text-transform: capitalize;
    margin: 0 20px;
    padding: 8px 10px;
    border-radius: 50%;
    border-bottom: 2px solid transparent;
    transition: all 0.3s ease;
}

nav ul li a.active,a:hover {
    border-color: #ff6600;
    color: #ff6600;
}

.menu-btn{
    float: right;
    line-height: 80px;
    margin-right: 25px;
    color: #ff6600;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"]{
    display: none;
}

#click:checked ~ ul{
    left: 0;
}

.home{
    height: 660px;
    width: 100%;
    background-color: #444444;
}

.home-content{
    padding: 200px 0 0 100px;
    color: #37c8abff;
}

.home-content .text-1{
    font-size: 27px;
}

.home-content .text-2{
    font-size: 70px;
}

.home-content .text-3{
    font-size: 40px;
}

.home-content .text-2 span{
    color: #ff6600ff;
    border-bottom: solid #ff6600ff;
}

.home__img {
    position: absolute;
    top: 180px;
    right: 150px;
    width: 380px;
}

.home__blob {
  fill: #37c8abff
}

.home__blob-img {
  width: 100px;
}

.cta-btn {
    position: absolute;
    padding: 0.8rem;
    font-weight: bold;
    top: 450px;
    left: 100px;
}
  
.cta-btn--hero {
    border: 2px solid #00cdac;
    color: #00cdac;
}
  
.cta-btn--hero:hover {
    color: #ff6600;
    border: 2px solid #ff6600;
}
  
.icon {
    display: flex;
    flex-direction: row;
    margin-left: 100px;
    margin-top: 150px;
}

.icon i{
    font-size: 2rem;
    color: #37c8ab;
    padding: 0 30px 0 0;
}

.icon i:hover {
    color: #ff6600;
}

@media (max-width:1200px){
    .home{
        height: 768px;
    }

    .home-content{
        padding: 120px 0 0 40px;
        color: #37c8abff;
    }
    
    .home-content .text-1{
        font-size: 20px;
    }
    
    .home-content .text-2{
        font-size: 40px;
    }
    
    .home-content .text-3{
        font-size: 28px;
        margin: 5px 0;
    }

    .cta-btn {
        position: absolute;
        padding: 0.8rem;
        font-weight: bold;
        top: 300px;
        left: 40px;
      }

      .icon {
        display: flex;
        width: 30px;
        flex-direction: column;
        margin-left: 40px;
        margin-top: 150px;
      }

      .icon i{
        margin: 0 0 20px 0;
      }
}

@media(max-width: 880px){

    nav {
        height: 70px;  
    }

    nav .logo  {
        width: 100px;
        height: 53.2px;
        margin: 5px 50px;
    }
    
    .menu-btn{
        font-size: 25px;
        line-height: 70px;
        display: block;
    }

    #click:Checked ~ .menu-btn i::before {
        content: '\f00d';
    }

    nav ul{
        width: 100%;
        height: 100vh;
        background: #333333;
        position: fixed;
        top: 70px;
        left: -100%;
        z-index: 100;
        transition: 1.5s;
        display: block;
    }

    nav ul li {
        display: block;
        text-align: center;
        line-height: 50px;
        margin: 20px;
    }

    nav ul li a {
        margin-left: -100%;
        font-size: 20px;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:Checked ~ ul li a{
        margin-left: 0px;
    }
}

@media (max-width:850px){

    .home__img {
        position: absolute;
        top: 300px;
        right: 50px;
        width: 280px;
    }
    
    .home__blob {
      fill: #37c8abff
    }
    
    .home__blob-img {
      width: 100px;
    }
}

@media (max-width:480px){

    nav .logo  {
        width: 80px;
        height: 42.56px;
        margin: 12px 50px 0;
    }

    .home-content{
        padding: 120px 0 0 40px;
        color: #37c8abff;
    }
    
    .home-content .text-1{
        font-size: 18px;
    }
    
    .home-content .text-2{
        font-size: 35px;
    }
    
    .home-content .text-3{
        font-size: 25px;
        margin: 5px 0;
    }

    .home__img {
        position: absolute;
        top: 320px;
        right: 15px;
        width: 250px;
    }
    
    .home__blob {
      fill: #37c8abff
    }
    
    .home__blob-img {
      width: 100px;
    }
    
    .cta-btn{
        top: 290px;
    }
}
